/* -----------------------------------------
   Custom.css - put your own changes here
----------------------------------------- */
.logo span {
    width: 220px;
    height: 60px;
    display: inline-block;
    background: url(../site/images/virtualShop_logo.png) no-repeat -10px;
}

.mid-grid-right input[type="text"] {
    border: 1px solid #08080B;
    border-right: none;
    border-left: none;
    border-top: none;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    padding: 2.5em 15px 1em 0;
    color: #A5A5A5;
    width: 100%;
    -moz-transition: padding-right 0.5s ease-out;
    -webkit-transition: padding-right 0.5s ease-out;
    transition: padding-right 0.5s ease-out;
}

.mid-grid-right input[type="text"]:focus {
    padding-right: 30px;
    -moz-transition: padding-right 0.5s ease-out;
    -webkit-transition: padding-right 0.5s ease-out;
    transition: padding-right 0.5s ease-out;
}
.top-header-left{
    width: 5%;
}
.top-header-center{
    width: 60%;
    padding: 0.25em 0 0 0;
}

.news-letter {
    font-weight: normal;
    text-transform: none;
}

.msgClienteLogado{
    color:#FFFFFF;
    font-size:14px;
}

.msgClienteLogado a{
    color:#F06B6B;
}

.register-top-grid input[type="password"], .register-bottom-grid input[type="password"] {
    border: 1px solid #EEE;
    outline-color: #E45D5D;
    width: 96%;
    font-size: 1em;
    padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

.clearLineForm {
    clear: both;
    float: right !important;
    margin: 0px !important;
}

.register-top-grid input[type="text"], .register-bottom-grid input[type="text"]{
    border:1px solid #DDD;
}

.register-top-grid input[type="password"], .register-bottom-grid input[type="password"] {
    border:1px solid #DDD;
    outline-color: #E45D5D;
    width: 96%;
    font-size: 1em;
    padding: 0.5em;
    font-family: 'Open Sans', sans-serif;
}

.containerMenuPainelCliente{
    float: left;
    padding: 0px 35px 0px 0px;
}

.menuPainelCliente{
    text-decoration: none;
    color:#222222;
}

.contentPainelCliente{
    float: left;
 }

 .logout{
    text-align: right;
    cursor: pointer;
 }